body{
    background-color: gray;
}


.div1{
background-color: white;
margin: 100px auto;
border-radius: 10px;
padding: 30px;
font-size: 25px;
box-shadow: 0px 7px 20px;
text-align: center;
width:400px;
}

.nome{

    font-size: 28px;
    
  margin-bottom: 10px;
}

.button1{

background-color: black;
color: white;
padding: none;
border: none;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;


}

.button1:hover{
    background-color: green;
    
}

.foto{
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;  
}